.popup__job {
    margin: 0;
    padding: 0;
    margin-left: 36px;
    margin-bottom: 27px;
    width: 358px;
    height: 27px;
    outline: none;
    border: none;
    border-bottom: 1px solid #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

@media (max-width: 425px) {
    .popup__job {
        width: 238px;
        margin-left: 22px;
        margin-bottom: 0;
    }
}