.element__delete-button {
    margin: 0;
    padding: 0;
    outline: none;
    background-color: transparent;
    width: 18px;
    height: 19px;
    border: none;
    cursor: pointer;
    background-image: url("../../../images/delete.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 20px;
    top: 20px;
}

.element__delete-button:hover {
    opacity: .5;
}