.profile__text {
    margin: 0;
    padding: 0;
    margin-top: 22px;
    margin-left: 30px;
    width: 294px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 425px) {
    .profile__text {
        margin-top: 26px;
        margin-right: auto;
        margin-left: auto;
    }
}