.popup__close-button {
    outline: none;
    background-color: transparent;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    background-image: url("../../../images/closebutton.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -40px;
    right: -40px;
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media (max-width: 688px) {
    .popup__close-button {
        right: 0;
    }
}

@media (max-width: 425px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        top: -32px;
        right: 0;
        background-size: 20px;
    }
}