.profile__image {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    object-fit: cover;
    object-position: top;
    grid-area: image;
}

@media (max-width: 515px) {
    .profile__image {
        margin-left: auto;
        margin-right: auto;
    }
}